@import "../../../../../styles.scss";

nav {
  width: 100vw;
  max-width: 100vw;
  height: 3.5rem;

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    height: 100%;

    .list-item {
      height: 100%;
      border-bottom: solid 0.2rem $main-color;
      font-size: 1.2rem;
      text-align: center;
      list-style: none;
      cursor: pointer;

      .link {
        @include displayFlex(row, center, center, 1rem);
        width: 100%;
        height: 100%;
        color: $main-color;
      }
    }

    .list-item:hover {
      border-bottom: solid 0.2rem $secondary-color;

      .link {
        font-weight: 600;
        color: $secondary-color;
      }
    }
  }
}
