@import "../../../../../styles.scss";

header {
  @include displayFlex(row, flex-start, center);
  width: 100vw;
  max-width: 100vw;
  height: 5rem;
  padding-left: 2rem;
  font-size: 1.2rem;
  color: white;
  background: rgb(230, 198, 255);
  background: $gradient;
}
