@import "../../../../../styles.scss";

.product-card__home {
  @include displayFlex(column, center, center, 0.5rem);
  width: 24rem;
  height: 30rem;
  border: solid 0.1rem $grey-color;
  border-radius: 0.5rem;
  padding: 0.5rem;

  img {
    width: 18rem;
    height: 18rem;
    object-fit: cover;
  }

  .content__container {
    @include displayFlex(row, center, center, 0.5rem);
    width: 100%;

    h2 {
      font-size: 1.2rem;
      font-weight: 400;
      text-align: center;
      color: black;
    }

    p {
      width: 100%;
      text-align: center;
    }
  }
}

.product-card__details {
  @include displayFlex(row, center, center);
  padding: 0 3rem;

  img {
    width: 50rem;
    height: 50rem;
    object-fit: cover;
  }

  .content__container {
    @include displayFlex(row, flex-start, center, 1rem);
    width: calc(100% - 60rem);

    .price {
      font-size: 1.4rem;
      font-weight: 700;
      color: $main-color;
    }
  }
}
