@import "../../../../../../styles.scss";

.admin-dashboard {
  @include displayFlex(row, flex-start, flex-start, 2rem);
  max-width: 100vw;
  overflow: hidden;

  h2 {
    margin-bottom: 0.8rem;
  }

  .products-table {
    width: 70%;
  }

  .product-form {
    width: calc(30% - 2rem);
    overflow: hidden;
  }
}